<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alanlyne.tbm">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Strings.stringsQuiz.stringsQuizResult"></activity>
        <activity android:name=".Strings.stringsQuiz.stringsQuiz" />
        <activity android:name=".Strings.stringsQuiz.stringsRevResult" />
        <activity android:name=".Strings.stringsQuiz.stringsRev" />
        <activity android:name=".Strings.stringsL.stringsL4" />
        <activity android:name=".Strings.stringsL.stringsL3" />
        <activity android:name=".Strings.stringsL.stringsL2" />
        <activity android:name=".Strings.stringsL.stringsL1" />
        <activity android:name=".Strings.Strings" />
        <activity android:name=".Iteration.iterationL.iterationL4" />
        <activity android:name=".Iteration.iterationL.iterationL3" />
        <activity android:name=".Iteration.iterationL.iterationL2" />
        <activity android:name=".Iteration.iterationL.iterationL1" />
        <activity android:name=".Iteration.iterationQuiz.iterationRevResult" />
        <activity android:name=".Iteration.iterationQuiz.iterationRev" />
        <activity android:name=".Iteration.iterationQuiz.iterationQuizResult" />
        <activity android:name=".Iteration.iterationQuiz.iterationQuiz" />
        <activity android:name=".SelectionStatements.ssL.ssL4" />
        <activity android:name=".SelectionStatements.ssL.ssL3" />
        <activity android:name=".SelectionStatements.ssL.ssL2" />
        <activity android:name=".SelectionStatements.ssL.ssL1" />
        <activity android:name=".SelectionStatements.ssQuiz.ssRevResult" />
        <activity android:name=".SelectionStatements.ssQuiz.ssRev" />
        <activity android:name=".SelectionStatements.ssQuiz.ssQuizResult" />
        <activity android:name=".SelectionStatements.ssQuiz.ssQuiz" />
        <activity android:name=".Iteration.Iteration" />
        <activity android:name=".SelectionStatements.SS" />
        <activity android:name=".Operators.opQuiz.opQuizResult" />
        <activity android:name=".Operators.opQuiz.opQuiz" />
        <activity android:name=".Operators.opL.opL7" />
        <activity android:name=".Operators.opL.opL6" />
        <activity android:name=".Operators.opL.opL5" />
        <activity android:name=".Operators.opL.opL4" />
        <activity android:name=".Operators.opL.opL3" />
        <activity android:name=".Operators.opQuiz.opRevQ" />
        <activity android:name=".Operators.opQuiz.opRevResult" />
        <activity android:name=".Operators.opL.opL2" />
        <activity android:name=".Operators.opL.opL1" />
        <activity android:name=".Operators.opQuiz.opRevision" />
        <activity android:name=".Operators.op" />
        <activity android:name=".Variables.varQuiz.revActivity" />
        <activity android:name=".WIP.wipQuiz.ResultActivity" />
        <activity android:name=".Variables.varQuiz.varRevision" />
        <activity android:name=".Auth.welcome" />
        <activity
            android:name=".Auth.video"
            android:screenOrientation="landscape" />
        <activity android:name=".Variables.varQuiz.ResultActivity" />
        <activity android:name=".Variables.varQuiz.varQuiz" />
        <activity android:name=".Variables.varL.varL4" />
        <activity android:name=".Variables.varL.varL3" />
        <activity android:name=".Variables.varL.varL2" />
        <activity android:name=".Variables.varL.varL1" />
        <activity android:name=".Variables.Var" />
        <activity android:name=".WIP.wipL.wipL4" />
        <activity android:name=".WIP.wipL.wipL3" />
        <activity android:name=".WIP.wipL.wipL2" />
        <activity android:name=".WIP.wipL.wipL1" />
        <activity android:name=".WIP.wipQuiz.wipQuiz" />
        <activity android:name=".WIP.WIP" />
        <activity android:name=".Menu.Menu" />
        <activity android:name=".Auth.SignUpActivity" />
        <activity android:name=".Auth.loginActivity" />
        <activity android:name=".Auth.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>