<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alanlyne.tbm">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Semester1.aWIP.wipL.lc"></activity>
        <activity android:name=".Semester1.eIteration.iterationL.iterationL5" />
        <activity android:name=".Semester1.dSelectionStatements.ssL.ssL8" />
        <activity android:name=".Semester1.dSelectionStatements.ssL.ssL7" />
        <activity android:name=".Semester1.dSelectionStatements.ssL.ssL6" />
        <activity android:name=".Semester1.dSelectionStatements.ssL.ssL5" />
        <activity android:name=".Semester1.k2dArray.arrayL.array2DL4" />
        <activity android:name=".Semester1.k2dArray.arrayL.array2DL3" />
        <activity android:name=".Semester1.k2dArray.arrayL.array2DL2" />
        <activity android:name=".Semester1.k2dArray.arrayL.array2DL1" />
        <activity android:name=".Semester1.k2dArray.arrayQuiz.array2DQuizResult" />
        <activity android:name=".Semester1.k2dArray.arrayQuiz.array2DQuiz" />
        <activity android:name=".Semester1.k2dArray.arrayQuiz.array2DRevResult" />
        <activity android:name=".Semester1.k2dArray.arrayQuiz.array2DRev" />
        <activity android:name=".Semester1.k2dArray.Array2D" />
        <activity android:name=".Semester1.jNestedLoops.nloopL.nloopL3" />
        <activity android:name=".Semester1.jNestedLoops.nloopL.nloopL2" />
        <activity android:name=".Semester1.jNestedLoops.nloopL.nloopL1" />
        <activity android:name=".Semester1.jNestedLoops.nloopQuiz.nloopQuizResult" />
        <activity android:name=".Semester1.jNestedLoops.nloopQuiz.nloopQuiz" />
        <activity android:name=".Semester1.jNestedLoops.nloopQuiz.nloopRevResult" />
        <activity android:name=".Semester1.jNestedLoops.nloopQuiz.nloopRev" />
        <activity android:name=".Semester1.jNestedLoops.nloop" />
        <activity android:name=".Semester1.iArrays.arrayL.arrayL4" />
        <activity android:name=".Semester1.iArrays.arrayL.arrayL3" />
        <activity android:name=".Semester1.iArrays.arrayL.arrayL2" />
        <activity android:name=".Semester1.iArrays.arrayL.arrayL1" />
        <activity android:name=".Semester1.iArrays.arrayQuiz.arrayQuizResult" />
        <activity android:name=".Semester1.iArrays.arrayQuiz.arrayQuiz" />
        <activity android:name=".Semester1.iArrays.arrayQuiz.arrayRevResult" />
        <activity android:name=".Semester1.iArrays.arrayQuiz.arrayRev" />
        <activity android:name=".Semester1.iArrays.Arrays" />
        <activity android:name=".Semester1.hBoolean.booL.booL3" />
        <activity android:name=".Semester1.hBoolean.booL.booL2" />
        <activity android:name=".Semester1.hBoolean.booL.booL1" />
        <activity android:name=".Semester1.hBoolean.booQuiz.booQuizResult" />
        <activity android:name=".Semester1.hBoolean.booQuiz.booQuiz" />
        <activity android:name=".Semester1.hBoolean.booQuiz.booRevResult" />
        <activity android:name=".Semester1.hBoolean.booQuiz.booRev" />
        <activity android:name=".Semester1.hBoolean.Boolean" />
        <activity android:name=".Semester1.gInput.inputL.inputL4" />
        <activity android:name=".Semester1.gInput.inputL.inputL3" />
        <activity android:name=".Semester1.gInput.inputL.inputL2" />
        <activity android:name=".Semester1.gInput.inputL.inputL1" />
        <activity android:name=".Semester1.gInput.inputQuiz.inputQuizResult" />
        <activity android:name=".Semester1.gInput.inputQuiz.inputQuiz" />
        <activity android:name=".Semester1.gInput.inputQuiz.inputRevResult" />
        <activity android:name=".Semester1.gInput.inputQuiz.inputRev" />
        <activity android:name=".Semester1.gInput.Input" />
        <activity android:name=".Semester1.fStrings.stringsQuiz.stringsQuizResult" />
        <activity android:name=".Semester1.fStrings.stringsQuiz.stringsQuiz" />
        <activity android:name=".Semester1.fStrings.stringsQuiz.stringsRevResult" />
        <activity android:name=".Semester1.fStrings.stringsQuiz.stringsRev" />
        <activity android:name=".Semester1.fStrings.stringsL.stringsL4" />
        <activity android:name=".Semester1.fStrings.stringsL.stringsL3" />
        <activity android:name=".Semester1.fStrings.stringsL.stringsL2" />
        <activity android:name=".Semester1.fStrings.stringsL.stringsL1" />
        <activity android:name=".Semester1.fStrings.Strings" />
        <activity android:name=".Semester1.eIteration.iterationL.iterationL4" />
        <activity android:name=".Semester1.eIteration.iterationL.iterationL3" />
        <activity android:name=".Semester1.eIteration.iterationL.iterationL2" />
        <activity android:name=".Semester1.eIteration.iterationL.iterationL1" />
        <activity android:name=".Semester1.eIteration.iterationQuiz.iterationRevResult" />
        <activity android:name=".Semester1.eIteration.iterationQuiz.iterationRev" />
        <activity android:name=".Semester1.eIteration.iterationQuiz.iterationQuizResult" />
        <activity android:name=".Semester1.eIteration.iterationQuiz.iterationQuiz" />
        <activity android:name=".Semester1.dSelectionStatements.ssL.ssL4" />
        <activity android:name=".Semester1.dSelectionStatements.ssL.ssL3" />
        <activity android:name=".Semester1.dSelectionStatements.ssL.ssL2" />
        <activity android:name=".Semester1.dSelectionStatements.ssL.ssL1" />
        <activity android:name=".Semester1.dSelectionStatements.ssQuiz.ssRevResult" />
        <activity android:name=".Semester1.dSelectionStatements.ssQuiz.ssRev" />
        <activity android:name=".Semester1.dSelectionStatements.ssQuiz.ssQuizResult" />
        <activity android:name=".Semester1.dSelectionStatements.ssQuiz.ssQuiz" />
        <activity android:name=".Semester1.eIteration.Iteration" />
        <activity android:name=".Semester1.dSelectionStatements.SS" />
        <activity android:name=".Semester1.cOperators.opQuiz.opQuizResult" />
        <activity android:name=".Semester1.cOperators.opQuiz.opQuiz" />
        <activity android:name=".Semester1.cOperators.opL.opL7" />
        <activity android:name=".Semester1.cOperators.opL.opL6" />
        <activity android:name=".Semester1.cOperators.opL.opL5" />
        <activity android:name=".Semester1.cOperators.opL.opL4" />
        <activity android:name=".Semester1.cOperators.opL.opL3" />
        <activity android:name=".Semester1.cOperators.opQuiz.opRevQ" />
        <activity android:name=".Semester1.cOperators.opQuiz.opRevResult" />
        <activity android:name=".Semester1.cOperators.opL.opL2" />
        <activity android:name=".Semester1.cOperators.opL.opL1" />
        <activity android:name=".Semester1.cOperators.opQuiz.opRevision" />
        <activity android:name=".Semester1.cOperators.op" />
        <activity android:name=".Semester1.bVariables.varQuiz.varRevResult" />
        <activity android:name=".Semester1.aWIP.wipQuiz.ResultActivity" />
        <activity android:name=".Semester1.bVariables.varQuiz.varRev" />
        <activity android:name=".Auth.welcome" />
        <activity
            android:name=".Auth.video"
            android:screenOrientation="landscape" />
        <activity android:name=".Semester1.bVariables.varQuiz.varQuizResult" />
        <activity android:name=".Semester1.bVariables.varQuiz.varQuiz" />
        <activity android:name=".Semester1.bVariables.varL.varL4" />
        <activity android:name=".Semester1.bVariables.varL.varL3" />
        <activity android:name=".Semester1.bVariables.varL.varL2" />
        <activity android:name=".Semester1.bVariables.varL.varL1" />
        <activity android:name=".Semester1.bVariables.Var" />
        <activity android:name=".Semester1.aWIP.wipL.wipL4" />
        <activity android:name=".Semester1.aWIP.wipL.wipL3" />
        <activity android:name=".Semester1.aWIP.wipL.wipL2" />
        <activity android:name=".Semester1.aWIP.wipL.wipL1" />
        <activity android:name=".Semester1.aWIP.wipQuiz.wipQuiz" />
        <activity android:name=".Semester1.aWIP.WIP" />
        <activity android:name=".Menu.Menu" />
        <activity android:name=".Auth.SignUpActivity" />
        <activity android:name=".Auth.loginActivity" />
        <activity android:name=".Auth.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>